body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100%;
}

.grid {
  display: none; /* Hide the grid by default is revealed by js */
  grid-gap: 0;
  height: calc(100vh - 20vw);
  width: 80vw;
  z-index: 300;
  clip-path: inset(0);
}

.track-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .grid {
    width: 90vw;
  }
}